@* @model IList<BaseTournamentViewModel>

@{
    ViewData["Title"] = "Tournaments";
}

<h1 class="display-4">Avaiable Tournaments</h1> *@
@* 
<div class="row">
    @foreach (var tournament in Model)
    {
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                @*<img class="card-img-top" src="./images/deck.jpeg" alt="deck">
                <div class="card-body">
                    <h5 class="card-title">@tournament.TournamentType.Title</h5>
                    <p class="card-text">Created: @tournament.CreatedOn</p>
                    <p class="card-text">Max Players count: @tournament.MaxPlayers</p>
                    <a class="btn btn-primary" 
                       asp-area="" 
                       asp-controller="Tournament" 
                       asp-action="Details" 
                       asp-route-id="@tournament.Id">Details
                    </a>
                </div>
            </div>
        </div>
    }
</div> *@
